# Database
DATABASE_URL=mysql://user:password@db:3306/socioeconomic_db
DB_NAME=socioeconomic_db
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=3306

# Django
SECRET_KEY=django-insecure-mvp-secret-key-12345
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# SMTP
EMAIL_HOST=mail
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@socioeconomic.com
